body{
    font-family: "Roboto", 'Helvetica Neue', 'Verdana','Tahoma', sans-serif;
        font-style: normal;
        text-decoration: none;
        color: #2E2F42;
        line-height: 1.5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.1666;
}
.logo:hover, .logo:focus{
    color: #2E2F42;
}
.logo-web{
    color: #4D5AE5;
}
.section-one{
    background: #2E2F42;
}
.section-three{
    background: #F4F4FD;
}
footer{
    background: #2E2F42;
    color: #F4F4FD;;
}
h1{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.0714;
}
h2{
    text-align: center;
    line-height: 1.1111;
}
h3{
    line-height: 1.2;
}
.logo-footer{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
}
.logo-footer:hover, .logo-footer:focus{
    color: #F4F4FD;
}
.navig{
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}
.navig:hover, .navig:focus{
    color: #434455;
}
.contact{
    text-decoration: none;
    font-size: 16px;
    color: #434455;
}
button{
    background: #4D5AE5;
    color :#FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.ul-good{
    list-style-type: none;
}
