body{
    font-family: "Roboto", sans-serif;
        font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}